.navbar{
 opacity: 0.7;
 font-style: italic;
}

.navbar-nav>li>a:hover{
  color: #9d9d9d;
}

.home-page {
 position: relative;
}

.code-img {
 position: absolute;
 top: 0;
 right: 0;
 opacity: 0.2;
}

.home-page-info {
 position: absolute;
 top: 50%;
 width: 100%;
 font-family: cursive; 
 text-align: center;
}

.home-page-info h1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 40px; 
}

.home-page-info h4{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 18px;
}

.links {
 position: absolute;
 padding-top: 55px;
 top: 30%;
 right: 38%;
 font-size: 40px;
 word-spacing: 45px;
}

.links a {
  color: black;
}

.Personal-portfolios {
  background-color: cornsilk;
  text-align: center;
  font-family: cursive;
  font-size: 26px;
}

.portfolio {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.about-me {
  font-family: cursive;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 15px;
}

@media (min-width: 576px) {
.links {
  position: absolute;
  padding-top: 55px;
  top: 50%;
  right: 42%;
  font-size: 40px;
  word-spacing: 45px;
 }
 .about-me {
  font-family: cursive;
  flex-wrap: nowrap;
  text-align: center;
}
}

@media (min-width: 768px) {
  .links {
   padding-top: 50px;
   top: 50%;
   right: 44%; 
   font-size: 50px;
   word-spacing: 45px;
 }
}

@media (min-width: 992px) { 
   .home-page-info h1{
     font-size: 50px; 
   }
   
   .home-page-info h4{
     font-size: 28px;
   }

   .links {
    position: absolute;
    padding-top: 130px;
    top: 80%;
    right: 44%; 
    font-size: 70px;
    word-spacing: 45px;
  }
}
