.navbar{
 opacity: 0.7;
 font-style: italic;
}

.navbar-nav>li>a:hover{
  color: #9d9d9d;
}

.home-page {
z-index: -1;
}

.code-img {
 position: absolute;
 top: 0;
 right: 0;
 opacity: 0.2;
}

.home-page-info {
 position: absolute;
 top: 60%;
 width: 100%;
 font-family: cursive; 
 text-align: center;
 color: white;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.home-page-info h1{
  font-size: 50px; 
}

.home-page-info h4{
  font-size: 28px;
}